/* Application Styles */
.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 15em;
  color: #ffffff;
}

h1 {
  color: #118ab2;
  margin-bottom: 0.75em;
}

.all {
  color: #ffd166;
}

.completed {
  color: #06d6a0;
}

.incomplete {
  color: #ef476f;
}
